<div class="big-card-container" cdkDropListGroup>
  <mat-card class="mat-elevation-z6 big-card">
    <mat-card-title>Done</mat-card-title>
    <mat-card-content>
      <div cdkDropList [cdkDropListData]="done" id="Done" class="drop-list" (cdkDropListDropped)="onDrop($event)">
        <mat-card class="drop-box" *ngFor="let card of done" cdkDrag>
          <mat-card-content>
            <p>{{card.name}}</p>
            <p>Index: {{card.index}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z6 big-card">
    <mat-card-title>In progress</mat-card-title>
    <mat-card-content>
      <div cdkDropList [cdkDropListData]="inprogress" id="In-progress" class="drop-list" (cdkDropListDropped)="onDrop($event)">
        <mat-card class="drop-box" *ngFor="let card of inprogress" cdkDrag>
          <mat-card-content>
            <p>{{card.name}}</p>
            <p>Index: {{card.index}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z6 big-card">
    <mat-card-title>To do</mat-card-title>
    <mat-card-content>
      <div cdkDropList [cdkDropListData]="todo" id="To-do" class="drop-list" (cdkDropListDropped)="onDrop($event)">
        <mat-card class="drop-box" *ngFor="let card of todo" cdkDrag>
          <mat-card-content>
            <p>{{card.name}}</p>
            <p>Index: {{card.index}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
