.mat-card {
  margin-top: 4%;
  margin-right: 8%;
  margin-left: 8%;
}

.filters{
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: flex-end space-between;
  align-items: flex-end;
}

.date-filter {
  width: 20%;
  margin-top: 20px;
}

.text-filter {
  width: 20%;
}

.mat-card-header{
  flex-direction: column;
}
.current{
  padding-left: 10px;
  font-size: 30px;
}
.weathernow{
  padding-left: 10px;
}

.mat-icon{
  margin-right: 5px;
  height: 40px;
  width: 40px;
}

table {
  width: 100%;
}
